/*-- scss:defaults --*/
// importing fonts
@import url('"https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

// fonts
$font-family-sans-serif: 'Atkinson Hyperlegible', sans-serif !default;

/*-- scss:rules --*/

/*-- PARAGRAPH TEXT --*/
h7 {
  font-size:          1.5rem;
}


// MathJax
.MathJax {
    font-size: 0.5em !important;
}
